<br>
<br>
<main class="tableWrapper">
   <section>
    <h1 class="mainHead">Top 100</h1>
    <h2 class="mainHead">All</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
          
                <th>
                    <span>OVR</span>
                    <span>POT</span>
                </th>
              
                <th>Name</th>
                <th>Preferred Positions</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>

            <% for(let i = 0; i < player.length; i++){ %>
                <tr>
                    <td><a href="<%= player[i].info %> "><img src="<%= player[i].img %>" width="40px" height="40px" alt="<%= player[i].name %>"></a></td>
                    <td><img src="<%= player[i].country_flag %> " alt=""></td>
                    <td>
                        <span style=" border-radius: .5rem; font-size: 1rem;padding: 0.2rem;margin-left: .5rem; background-color:<%= colors(player[i].ovr)%>;"><%= player[i].ovr %></span>
                        <span style=" border-radius: .5rem; font-size: 1rem;padding: 0.2rem; margin-right: .5rem; background-color:<%= colors(player[i].pot)%>;"><%= player[i].pot %></span>

                   </td>
                    <td style="font-size: smaller;"><%= player[i].name %></td>
                    <td>
                        <span style="border-radius: 3px; padding: .2rem;  font-size: 1rem; font-weight: 300; font-size: medium; background-color:<%= colors(player[i].prefered_position_one)%>;"><%= player[i].prefered_position_one%></span>
                        <% if(player[i].prefered_position_two !== "null"){%>
                            <span style="border-radius: 3px; font-size: 1rem;margin-right: .2rem; background-color:<%= colors(player[i].prefered_position_two)%>;"><%= player[i].prefered_position_two%></span>
                           

                            <%} %>
                        <% if(player[i].prefered_position_three !== "null"){%>
                            <span class="prefered" style="border-radius: 3px; padding: .2rem;  background-color:<%= colors(player[i].prefered_position_three)%>;"><%= player[i].prefered_position_three%></span>
                            
                            <%} %>
                    </td>
                    <td><i class="prefered" style="margin: 1rem;"><%= player[i].age%></i></td>
                    <td><img class="prefered" src="<%= player[i].club_img%>" width="33px" height="35px" alt=""></td>
                </tr>
           <% } %>
        </tbody>	
    </table>
   </section>
</main>